.nav .dropdown-submenu {
    position: relative;    
}
.nav .dropdown-submenu > a:after{
	content: '\e258';
	font-family: 'Glyphicons Halflings';
	position: absolute;
	right: 10px;	
}
.nav .dropdown-submenu .dropdown-menu {
	display: none;
    top: 0;
    left: 100%;    
    padding-top: 0!important;
    padding-bottom: 0!important;
}
